This notebook aims to correct budget and revenue values in our dataframe for inflation. 
We are using Headline consumer price index (CPI) inflation to correct our dataframes. 

Data from https://data.worldbank.org/indicator/FP.CPI.TOTL.ZG

In [38]:
import pandas as pd

In [59]:
data_folder = './data/'

In [60]:
# load inflation data
inflation = pd.read_csv(data_folder + 'inflation.csv', header=2)

# only include inflation data from 2000 to 2012
inflation = inflation[['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '2000', '2001', '2002', '2003', '2004',
                       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']]

inflation.loc[inflation['Country Code']=='USA']
# inflation.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
251,United States,USA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,3.376857,2.826171,1.586032,2.270095,2.677237,3.392747,3.225944,2.852672,3.8391,-0.355546,1.640043,3.156842,2.069337

In [58]:
# create index multiplier
# prices will be indexed to 2000 prices
columns = ['2000', '2001', '2002', '2003', '2004','2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']
inflation['2000'] = 1
for i in range(len(columns) - 1):
    inflation[columns[i+1]] = inflation[columns[i]] * (1 + inflation[columns[i+1]] / 100)
    
    
inflation.loc[inflation['Country Code']=='USA']
# inflation.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
251,United States,USA,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,1,1.028262,1.04457,1.068283,1.096883,1.134098,1.170683,1.204079,1.250305,1.245859,1.266292,1.306267,1.333298

In [64]:
movies = pd.read_table(data_folder + 'movie.metadata.tsv', names=['wiki_id','freebase_id','name','release_date','box_office_revenue','length','language','country','genre'])

In [75]:
movies2000 = movies[(movies['release_date'] >= '2000') & (movies['release_date'] < '2001')]

In [ ]:
movies['box_office_revenue'] = movies['box_office_revenue'] / (inflation[''])