# Cast
- This notebook intends to investigate the casts of the CMU Movie Summary Corpus dataset.
- The notebook will do some initial analyses to see how individual movie actors affects the box office revenue.

---
**Summary**

- By using all actors that have played in more than 16 movies as categorical predictors, our model explains 64% of the change in box office revenue, with an adjusted R-squared equal to 50%.
- Among the actors (as predictors) with p-value < 0.05, Alan Rickman (Professor Severus Snape and more) received the highest coefficient in our linear regression model. PS: This is only initial analysis and we will explain why the result cannot be trusted yet.

**Contents of Notebook**

In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
from inflation import correct_for_inflation

# turn off warning
pd.options.mode.chained_assignment = None

In [2]:
# constants
data_folder = './data/'
MOVIE_PATH = data_folder + 'movie.metadata.tsv'
CHARACTER_PATH = data_folder + 'character.metadata.tsv'
RATING_PATH = data_folder + 'title.ratings.tsv'

# Data Processing

### Loading data

In [3]:
# create dataframes

# define collumn names
colnames_movies = [
    "wikipedia_movie_ID",
    "freebase_movie_ID",
    "name",
    "release_date",
    "box_office_revenue",
    "runtime",
    "languages",
    "countries",
    "genres",
]


colnames_character = [
    "wikipedia_movie_ID",
    "freebase_movie_ID",
    "last_update",
    "character_name",
    "actor_DOB",
    "actor_gender",
    "actor_height",
    "actor_ethnicity",
    "actor_name",
    "actor_age_at_movie_release",
    "freebase_character/actor_map_ID",
    "freebase_character_ID",
    "freebase_actor_ID",
]


# load data
movies = pd.read_csv(MOVIE_PATH, sep="\t", names=colnames_movies, header=None)
characters = pd.read_csv(
    CHARACTER_PATH, sep="\t", names=colnames_character, header=None
)

In [4]:
# Removing movies from before 2000
movies = movies[movies['release_date'] >= '2000']
movies.shape

(24496, 9)

In [5]:
characters.shape

(450669, 13)

In [6]:
movies.isna().sum()

wikipedia_movie_ID        0
freebase_movie_ID         0
name                      0
release_date              0
box_office_revenue    20798
runtime                4182
languages                 0
countries                 0
genres                    0
dtype: int64

In [7]:
characters.isna().sum()

wikipedia_movie_ID                      0
freebase_movie_ID                       0
last_update                          9995
character_name                     257875
actor_DOB                          106145
actor_gender                        45609
actor_height                       295845
actor_ethnicity                    344611
actor_name                           1228
actor_age_at_movie_release         158113
freebase_character/actor_map_ID         0
freebase_character_ID              257865
freebase_actor_ID                     815
dtype: int64

Comment: Both box office revenue and freebase actor ID contain some NaN values we want to remove before exploring actors' effect on revenue.

In [12]:
# Removing characters/actors without freebase_actor_id
characters = characters[characters['freebase_actor_ID'].notna()]

# Removing movies without box_office_revenue
movies = movies[movies['box_office_revenue'].notna()]

In [13]:
# Merging movies with characters on wiki_id. 
movies_characters = pd.merge(left=movies, right=characters, on=['wikipedia_movie_ID', 'freebase_movie_ID'])

In [14]:
movie_count = movies_characters.shape[0]
unique_combos = movies_characters.value_counts(subset=['wikipedia_movie_ID', 'freebase_actor_ID'], dropna=False).shape[0]

print(
    """
    Total number of movies in our merged dataset: {}
    Unique number of combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID': {}
    """.format(movie_count, unique_combos))

    Total number of movies in our merged dataset: 49799
    Unique number of combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID': 49281

In [15]:
movies_characters[['wikipedia_movie_ID', 'freebase_actor_ID']].value_counts().shape

(49281,)

Comment: Some actors are listed mulitple times because they play different characters in the same movie. We only want unique combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID'.

In [16]:
# We filter out duplicated combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID'. 
# For now, we do not care which row we keep
movies_characters = movies_characters.drop_duplicates(subset=['wikipedia_movie_ID', 'freebase_actor_ID'], keep='first')
movies_characters.shape

(49281, 20)

In [17]:
# Number of unique movies
num_movies = movies_characters["wikipedia_movie_ID"].nunique()
print('Number of unique movies: {}'.format(num_movies))

Number of unique movies: 3585

In [18]:
# Number of unique actors in dataset
num_actors_unique = movies_characters["freebase_actor_ID"].nunique()
print('Number of unique actors: {}'.format(num_actors_unique))

Number of unique actors: 22934

In [19]:
# Checking number of actors in dataset, counting actors multiple times if they play
# in multiple movies
count_actors = movies_characters["freebase_actor_ID"].count()
print("Number of rows containing freebase actor ID: {}".format(count_actors))

Number of rows containing freebase actor ID: 49281

In [20]:
# Number of actors on average per movie
ratio = count_actors / num_movies
print('Number of actors on average per movie: {}'.format(ratio))

Number of actors on average per movie: 13.746443514644351

In [21]:
# One Hot Encoding of Actors
movies_characters_dummy = pd.get_dummies(data=movies_characters, columns=['freebase_actor_ID'])
movies_characters_dummy.shape

(49281, 22953)

In [22]:
# Only include wikipedia movie ID and one hot encoding of actors in dataframe
dummy_actor_columns = movies_characters_dummy.filter(regex='wikipedia_movie_ID|freebase_actor_ID_')

In [35]:
# Include actors that have played in more than 16 movies
# Threshold=16 is the lowest we can go to not exceed the maximum recursion depth in the
# linear regression, which we will get back to. 
dummy_actor_columns = dummy_actor_columns.loc[:, dummy_actor_columns.sum(axis=0) > 16]
print('Number of actors that have played in more than 16 movies: {}'.format(dummy_actor_columns.shape[1]-1))

Number of actors that have played in more than 16 movies: 212

In [24]:
# Grouping movies such that every movie correspond to only one row in the dataframe
dummy_actor_columns = dummy_actor_columns.groupby('wikipedia_movie_ID').agg('sum')

In [25]:
dummy_actor_columns.shape

(3585, 213)

In [26]:
# Merging dummy actor columns with the movies
movies_binary_actors = pd.merge(movies, dummy_actor_columns, left_on='wikipedia_movie_ID', right_index=True)
movies_binary_actors.head(1)

,wikipedia_movie_ID,freebase_movie_ID,name,release_date,box_office_revenue,runtime,languages,countries,genres,freebase_actor_ID_/m/011zd3,...,freebase_actor_ID_/m/0lpjn,freebase_actor_ID_/m/0mdqp,freebase_actor_ID_/m/0n6f8,freebase_actor_ID_/m/0p_pd,freebase_actor_ID_/m/0prfz,freebase_actor_ID_/m/0pz91,freebase_actor_ID_/m/0q9kd,freebase_actor_ID_/m/0ywqc,freebase_actor_ID_/m/0z4s,freebase_actor_ID_/m/0zcbl
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
# Correcting box office revenue for inflation
movies_binary_actors = correct_for_inflation(movies_binary_actors, 'box_office_revenue', 2000, 2012)

In [28]:
# Removing slashes in column names to avoid error in regression. 
movies_binary_actors.columns = movies_binary_actors.columns.str.replace('/', '')
dummy_actor_columns.columns = dummy_actor_columns.columns.str.replace('/', '')

In [29]:
# Constructing formula used for regression
# For now we only include actors as categorical predictors
formula = 'box_office_revenue ~ '
for col in dummy_actor_columns.columns:
    formula += 'C(' + col + ')+'
    
formula = formula[:-1]

In [30]:
# Linear regression
mod = smf.ols(formula=formula, data=movies_binary_actors)
res = mod.fit()
res_summary = res.summary()

Note: The smallest eigenvalue is 3.33e-30. This might indicate that there are
strong multicollinearity problems

In [31]:
print("Our model with actors that played in more than 16 movies gets R-squared = {:.2f}".format(res.rsquared))
print("The corresponding adjusted R-squared is: {:.2f}".format(res.rsquared_adj))

Our model with actors that played in more than 16 movies gets R-squared = 0.30
The corresponding adjusted R-squared is: 0.25

Comment: 
Our model with actors as predictors explains 64% of the change in the box office revenue. However, we have many variables included (actors), which could make our model look more accurate even if there are many actors poorly contributing in some way. The adjusted R-squared score (51%) may be telling us that some variables (actors) are not contributing to our model’s R-squared properly. For now we have only used actors as predictors, so there are likely to be confounders. However, R-squared tells us that we should continue exploring how actors and cast affect the box office revenue.

In [32]:
# Turning result summary into a dataframe
res_as_html = res_summary.tables[1].as_html()
summary_df = pd.read_html(res_as_html, header=0, index_col=0)[0]

In [33]:
# Only including actors with p-value < 0.05.
# Statistically significant actors
summary_df = summary_df[summary_df['P>|t|'] < 0.05]

# Sorting the dataframe in descending order according to coefficient
summary_df.sort_values(by='coef', ascending=False, inplace=True)

# The top 10 actors with highest coefficient
summary_df.head(10)

In [38]:
# Checking the number 1 actor we received from our 
# initial analysis (by only considering actors as predictor)

movies_characters[movies_characters['freebase_actor_ID']=='/m/09y20'].sort_values(by='box_office_revenue', ascending=False).head(3)

,wikipedia_movie_ID,freebase_movie_ID,name,release_date,box_office_revenue,runtime,languages,countries,genres,last_update,character_name,actor_DOB,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_character/actor_map_ID,freebase_character_ID,freebase_actor_ID
18865,31941988,/m/0gvsynb,Harry Potter and the Deathly Hallows – Part 2,2011-07-07,1.328111e+09,130.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/07s9rl0"": ""Drama"", ""/m/02n4kr"": ""Mystery""...",2011-07-07,Professor Severus Snape,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,65.0,/m/09lybcv,/m/0c2l5,/m/09y20
5918,14482638,/m/04jpg2p,Alice in Wonderland,2010-03-05,1.024300e+09,108.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/01zhp"": ""Computer Animation"", ""/m/0hqxf"":...",2010-03-05,Caterpillar,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,64.0,/m/04zcxdl,/m/04xlmy,/m/09y20
43430,667361,/m/03176f,Harry Potter and the Philosopher's Stone,2001-11-16,9.747554e+08,153.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/0hj3n2k"": ""Fantasy Adventure"", ""/m/03k9fj...",2001-11-16,Professor Severus Snape,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,55.0,/m/02_752k,/m/0c2l5,/m/09y20

Comment: We cannot be sure whether Alan Rickman ala Professor Severus Snape has the highest effect on box office revenue. However, Alan Rickman has performed  in several movies with extremely high box office revenue, so the result is an indication that our choice of method could be further explored to gain insight into what actors affect box office revenue the most.

<div>
<img src="attachment:snape.jpeg" width="500"/>
</div>