# Diversity

- This notebook intends to investigate the diversity of the [CMU Movie Summary Corpus](http://www.cs.cmu.edu/~ark/personas/) dataset.
- The notebook will look at the distribution of ethnicities and gender and how it correlates with a movie's revenue.

---
**Summary**
- Diverse movies have, on average, ~28% higher movie box office revenue.
- Movies with the majority of male actors have, on average, ~42.5% higher movie box office revenue.
- The results are intriguing, and we would like to pursue this aspect in further analysis in milestone 3.

---
**Contents of notebook:**
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Processing" data-toc-modified-id="Data Processing">Data Processing</a></span><ul class="toc-item"><li><span><a href="#Loading-data" data-toc-modified-id="Loading data">Loading data</a></span><li><span><a href="#Removing-null-values" data-toc-modified-id="Removing null values">Removing null values</a></span></li></ul><li><span><a href="#Distributions" data-toc-modified-id="Distributions">Distributions</a></span><ul class="toc-item"><li><span><a href="#Distribution-of-release-dates" data-toc-modified-id="Distribution of release dates">Distribution of release dates</a></span></li><ul class="toc-item"><li><span><a href="#Adjusting-for-inflation" data-toc-modified-id="Adjusting for inflation">Adjusting for inflation</a></span></li></ul><li><span><a href="#Distribution-of-actors" data-toc-modified-id="Distribution of actors">Distribution of actors</a></span></li><ul class="toc-item"><li><span><a href="#Threshold" data-toc-modified-id="Threshold">Threshold</a></span></li></ul></ul></li><li><span><a href="#Ethnicity" data-toc-modified-id="Ethnicitry">Ethnicity</a></span><ul class="toc-item"><li><span><a href="#Correlation-between-the-number-of-ethnicites-and-revenue" data-toc-modified-id="Correlation between the number of ethnicites and revenue">Correlation between the number of ethnicites and revenue</a></span></li><li><span><a href="#Correlation-between-the-ethnicity-score-and-revenue" data-toc-modified-id="Correlation between the ethnicity score and revenue">Correlation between the ethnicity score and revenue</a></span></li><li><span><a href="#Difference-in-revenue-between-the-diverse-and-less-diverse-movies" data-toc-modified-id="Difference in revenue between the diverse and less diverse movies">Difference in revenue between the diverse and less diverse movies</a></span></li></ul></li><li><span><a href="#Gender" data-toc-modified-id="Gender">Gender</a></span><ul class="toc-item"><li><span><a href="#Correlation-between-the-number-of-females-and-revenue" data-toc-modified-id="Correlation between the number of females and revenue">Correlation between the number of females and revenue</a></span></li><li><span><a href="#Correlation-between-the-fraction-of-females-and-revenue" data-toc-modified-id="Correlation between the fraction of females and revenue">Correlation between the fraction of females and revenue</a></span></li><li><span><a href="#Difference-in-revenue-between-the-movies-with-majority-of-male-and-female-actors" data-toc-modified-id="Difference in revenue between the movies with majority of male and female actors">Difference in revenue between the movies with majority of male and female actors</a></span></li></ul></li></ul></div>

![Diversity](img/diversity.jpeg)

---
## Data Processing

---
### Loading data

In [2]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from helpers import bootstrap_CI, correct_for_inflation
import statsmodels.api as sm
import statsmodels.formula.api as smf

# turn off warning
# pd.options.mode.chained_assignment = None

In [3]:
# constants
data_folder = './data/'
MOVIE_PATH = data_folder + 'movie.metadata.tsv'
CHARACTER_PATH = data_folder + 'character.metadata.tsv'
RATING_PATH = data_folder + 'title.ratings.tsv'
BUDGET_PATH = data_folder + 'budget.csv'

In [4]:
# create dataframes

# define collumn names
colnames_movies = [
    "wikipedia_movie_ID",
    "freebase_movie_ID",
    "movie_name",
    "movie_release_date",
    "movie_box_office_revenue",
    "movie_runtime",
    "movie_languages",
    "movie_countries",
    "movie_genres",
]

colnames_character = [
    "wikipedia_movie_ID",
    "freebase_movie_ID",
    "last_update",
    "character_name",
    "actor_DOB",
    "actor_gender",
    "actor_height",
    "actor_ethnicity",
    "actor_name",
    "actor_age_at_movie_release",
    "freebase_character/actor_map_ID",
    "freebase_character_ID",
    "freebase_actor_ID",
]


# load data
movies = pd.read_csv(MOVIE_PATH, sep="\t", names=colnames_movies, header=None)
budget = pd.read_csv(BUDGET_PATH, usecols=['budget', 'original_title'])
ratings = 
characters = pd.read_csv(
    CHARACTER_PATH, sep="\t", names=colnames_character, header=None
)

In [ ]:
# print the 'movies' data frame
movies.head(1)

In [ ]:
# print the 'characters' data frame
characters.head(1)

---
### Removing null values
This notebook intends to investigate the correlation between diversity and revenue; we will therefore filter out movies without `Movie box office revenue.`

In [ ]:
# filtering out movies without revenue
num_movies_before_filter = movies.shape[0]
movies = movies[~movies["movie_box_office_revenue"].isna()]
num_movies_after_filter = movies.shape[0]

# printing the results
print(
    f"""
Total number of movies before filtering: {num_movies_before_filter}
Number of movies after filtering:         {num_movies_after_filter}     
"""
)

#### Comment
- We observe that ~90% of the movies were filtered out.
- We still got 8 401 which should be sufficient for the data analysis.

---
## Distributions

---
### Distribution of release dates

In [ ]:
# adding column for year release
movies["year_released"] = pd.to_datetime(
    movies["movie_release_date"], infer_datetime_format=True, errors="coerce"
).dt.year

# removing null values
movies = movies[~movies["year_released"].isna()]

# converting to 'int64'
movies["year_released"].astype("int64")

# print result
movies.head(1)

In [ ]:
# plot the distribution of realese years
bins = np.arange(1915, 2013) - 0.5  # -0.5 for center-aligned bins
plt.hist(movies["year_released"], histtype="step", bins=bins, log=True)
plt.xlabel("Release year")
plt.ylabel("Number of movies")
plt.title("Distribution of of movies released")
plt.show()

#### Comment

**Problem:**
- We observe that the dataset contains some old movies. The revenue will not be representable for such movies because of inflation.


**Solution:**
- A possible solution would be to collect a dataset of the inflation since ~1920 and adjust the revenues for inflation to make them comparable.

**Conclusion:**
- We need to collect an external dataset on inflation.

---
### Adjusting for inflation

Our previous finding suggested that we had to adjust the `movie_box_office_revenue` for inflation to make movies more comparable.

In [ ]:
# adjusting the 'movie_box_office_revenue' for inflation
movies = correct_for_inflation(movies, "movie_box_office_revenue", start_year=1960, end_year=2014)

---
### Distribution of actors

In [ ]:
# add collumn for number of actors
num_actors = characters.groupby("freebase_movie_ID")["freebase_actor_ID"].apply(
    lambda x: x.count()
)

# rename the series
num_actors.name = "num_actors"

# merge with the movies data frame
movies = movies.merge(num_actors, left_on="freebase_movie_ID", right_index=True)

# print result
movies.head(1)

In [ ]:
# plot the distribution of actors
bins = np.arange(100) - 0.5  # -0.5 for center-aligned bins
plt.hist(movies["num_actors"], histtype="step", bins=bins, log=True)
plt.xlabel("Number of actors")
plt.ylabel("Number of movies")
plt.title("Distribution of actors")
plt.show()

In [ ]:
# plot relationship between 'num_actors' and 'movie_box_office_revenue'
movies.plot.scatter(x="num_actors", y="movie_box_office_revenue", s=1)
plt.yscale("log")
plt.xlabel("Number of actors")
plt.ylabel("Movie box office revenue")
plt.title("Relationship between the number actors and the movie box office revenue")
plt.show()

In [ ]:
# compute spearman correlation between 'num_actors' and 'movie_box_office_revenue'
stats.spearmanr(movies["num_actors"], movies["movie_box_office_revenue"])

#### Comment

 **Problem:**
1. We observe that many movies only have a few actors. It´s unlikely that a movie only has one actor, which is the case for ~50 movies in the dataset. The reason is probably that the dataset initially focused on characters, which can be more difficult to extract than actors.

2. We observe that movies with more actors have higher revenue. This is something to be aware of since more actors will likely provide more diversity.

**Solution:**
1. A possible solution would be to collect data about the number of actors from a different dataset. The problem with an external dataset will be finding data about ethnicity and gender. This was not included in the [IMDb datasets](https://www.imdb.com/interfaces/).

2. It will be necessary to look at the number of ethnicities and females with the total number of actors.

**Conclusion:**
1. Setting a threshold for the number of actors is a good solution that still enables us to use the original dataset.

2. Computing an `ethnicity_score` and `fraction_of_female` to also consider the total number of actors.

---
### Threshold

Our previous finding suggested that a threshold on the number of actors might be necessary.

In [ ]:
# filtering out movies with less than 10 actors
num_movies_before_filter = movies.shape[0]
movies = movies[movies["num_actors"] > 9]
num_movies_after_filter = movies.shape[0]

# printing the results
print(
    f"""
Total number of movies before filtering: {num_movies_before_filter}
Number of movies after filtering:        {num_movies_after_filter}     
"""
)

In [ ]:
# plot the distribution of actors after threshold
bins = np.arange(10, 100) - 0.5  # -0.5 for center-aligned bins
plt.hist(movies["num_actors"], histtype="step", bins=bins, log=True)
plt.xlabel("Number of actors")
plt.ylabel("Number of movies")
plt.title("Distribution of actors")
plt.show()

In [ ]:
# compute spearman correlation between 'num_actors' and 'movie_box_office_revenue'
stats.spearmanr(movies["num_actors"], movies["movie_box_office_revenue"])

#### Comment
There is still a statistically significant correlation between `num_actors` and `movie_box_office_revenue` after introducing a threshold.

---
## Ethnicity

---
### Correlation between the number of ethnicites and revenue

In [ ]:
# add collumn for number of ethnicities
num_ethnicities = characters.groupby("freebase_movie_ID")["actor_ethnicity"].apply(
    lambda x: x.nunique()
)

# rename the series
num_ethnicities.name = "num_ethnicities"

# merge with the movies data frame
movies = movies.merge(num_ethnicities, left_on="freebase_movie_ID", right_index=True)

In [ ]:
# plot relationship between 'num_ethnicities' and 'movie_box_office_revenue'
movies.plot.scatter(x="num_ethnicities", y="movie_box_office_revenue", s=1)
plt.yscale("log")
plt.xlabel("Number of ethnicities")
plt.ylabel("Movie box office revenue")
plt.title(
    "Relationship between the number of ethnicities and the movie box office revenue"
)
plt.show()

In [ ]:
# compute spearman correlation between 'num_ethnicities' and 'movie_box_office_revenue'
stats.spearmanr(movies["num_ethnicities"], movies["movie_box_office_revenue"])

In [ ]:
# compute spearman correlation between 'num_actors' and 'movie_box_office_revenue'
stats.spearmanr(movies["num_actors"], movies["movie_box_office_revenue"])

#### Comment
- We observe a significant correlation between `num_ethnicities` and `movie_box_office_revenue.`
- Further, we observe that the correlation between `num_actors` and `movie_box_office_revenue` is reduced after we filtered out movies with less than ten actors. This indicates that the number of actors has the most significant impact when there are few actors, e.g., increasing from 5 to 6 will have a more substantial effect on the revenue than rising from 14 to 15.
- There is still difficult to interpret how big an impact `num_ethnicities` and `num_actors` have on `movie_box_office_revenue` separately since they are highly correlated.
- To try to isolate the impact ethnicities have on the revenue, we will instead look at an ethnicity_score, which is calculated as follow: $ethnicity\: score = \frac{number\,of\,ethnicities}{number\,of\,actors}$

---
### Correlation between the ethnicity score and revenue

In [ ]:
# adding a collumn for num_etnicities / num_ectors
movies["ethnicity_score"] = movies["num_ethnicities"] / movies["num_actors"]

In [ ]:
# plot relationship between 'ethnicity_score' and 'movie_box_office_revenue'
movies.plot.scatter(x="ethnicity_score", y="movie_box_office_revenue", s=1)
plt.yscale("log")
plt.xlabel("Ethnicity score")
plt.ylabel("Movie box office revenue")
plt.title("Relationship between the ethnicity score and the movie box office revenue")
plt.show()

In [ ]:
# compute spearman correlation between 'ethnicity_score' and 'movie_box_office_revenue'
stats.spearmanr(movies["ethnicity_score"], movies["movie_box_office_revenue"])

#### Comment
- After trying to isolate the impact ethnicities have on the revenue, we still observe a significant correlation.

---
### Difference in revenue between the diverse and less diverse movies

In [ ]:
# check difference between the revenue of movies with an without ethnicity score above 50
over_50_revenue = movies[movies["ethnicity_score"] > 0.5]["movie_box_office_revenue"]
under_50_revenue = movies[movies["ethnicity_score"] <= 0.5]["movie_box_office_revenue"]

In [ ]:
# independent t-test
stats.ttest_ind(over_50_revenue, under_50_revenue)

In [ ]:
# calculate the statistical power

# creating list to store the p-values
p_val = np.zeros(10000)

# running the simulation 10000 times
for i in range(10000):

    # sample over_50 and under_50
    sample_over_50 = np.random.choice(over_50_revenue, size=over_50_revenue.shape[0])
    sample_under_50 = np.random.choice(under_50_revenue, size=under_50_revenue.shape[0])

    # independent t-test
    p_val[i] = stats.ttest_ind(sample_over_50, sample_under_50)[1]

# calculating the percentage of rejects
power = len(p_val[p_val < 0.05]) / len(p_val)

# printing the results
print(
    f"""
The statistical power of:
    - The independent sample t-test comparing the revenue of diveres and less diverse movies: {power}
"""
)

In [ ]:
# calculating the mean difference
mean_diff_diversity = over_50_revenue.mean() - under_50_revenue.mean()

# performing bootstrap to get the 95% CI
diversity_CI = bootstrap_CI(over_50_revenue, under_50_revenue)

# printing the results
print(
    f"""
The mean difference between in revenue between diverse and less diverse movies:
    - Mean:                       {mean_diff_diversity}
    - CI:                         {diversity_CI}
"""
)

In [ ]:
# calculating the average revenue for under_50
mean_under_50 = under_50_revenue.mean()

# calculating the percentage difference in revenue
diff_percent = mean_diff_diversity / mean_under_50

# printing the results
diff_percent

#### Comment 
- The independent t-test gives us a small p-value (< 0.05), which indicates a statistically significant difference between the samples of diverse (ethnicity score > 0.5) and less diverse (ethnicity score ≤ 50) movies. The statistical power of the result is 0.5451. 
- Further, the mean difference shows that diverse movies generally have higher movie box office revenue. The confidence interval makes us confident in this result. 
- By dividing the average difference by the average revenue for less diverse movies, we get that diverse movie, on average, have a ~28% higher movie box office revenue. This shows that ethnicity is impactful on the movie box office revenue.

---
## Gender

---
### Correlation between the number of females and revenue

In [ ]:
# checkint the amount of characters without 'actor_gender'
num_characters = characters.shape[0]
num_nan_gender = characters[characters["actor_gender"].isna()].shape[0]

# printing the results
print(
    f"""
Total number of characters:                {num_characters}
Number of characters without actor gender:  {num_nan_gender}     
"""
)

In [ ]:
# add collumn for fraction of females

# create frame with female actors
female_characters = characters[characters["actor_gender"] == "F"]

# add column for number of female actors
num_female = female_characters.groupby("freebase_movie_ID")["actor_gender"].count()

# rename the series
num_female.name = "num_female"
movies = movies.merge(num_female, left_on="freebase_movie_ID", right_index=True)

# print result
movies.head(1)

In [ ]:
# plot relationship between 'num_female' and 'movie_box_office_revenue'
movies.plot.scatter(x="num_female", y="movie_box_office_revenue", s=1)
plt.yscale("log")
plt.xlabel("Number of females")
plt.ylabel("Movie box office revenue")
plt.title("Relationship between number of females and movie box office revenue")
plt.show()

In [ ]:
# compute spearman correlation between 'num_female' and 'movie_box_office_revenue'
stats.spearmanr(movies["num_female"], movies["movie_box_office_revenue"])

#### Comment 
- We observe a weak but significant correlation between `num_female` and `movie_box_office_revenue.`
- It is difficult to interpret how big an impact `num_female` and `num_actors` have on `movie_box_office_revenue` separately since they are highly correlated (more actors will likely lead to more female actors as well).
- To try to isolate the impact gender have on the revenue, we will instead look at the fraction of female, which is calculated as follow: $fraction\: of\: female = \frac{number\,of\,female}{number\,of\,actors}$

---
### Correlation between the fraction of females and revenue

In [ ]:
# add column for fraction of females
movies["frac_female"] = movies["num_female"] / movies["num_actors"]

# print result
movies.head(1)

In [ ]:
# plot relationship between 'frac_female' and 'movie_box_office_revenue'
movies.plot.scatter(x="frac_female", y="movie_box_office_revenue", s=1)
plt.yscale("log")
plt.xlabel("Fraction of females")
plt.ylabel("Movie box office revenue")
plt.title("Relationship between fraction of females and movie box office revenue")
plt.show()

In [ ]:
# compute spearman correlation between 'frac_female' and 'movie_box_office_revenue'
stats.spearmanr(movies["frac_female"], movies["movie_box_office_revenue"])

In [ ]:
# check difference between the revenue of movies with majority of men and majority of women
majority_male_revenue = movies[movies["frac_female"] <= 0.5]["movie_box_office_revenue"]
majority_female_revenue = movies[movies["frac_female"] > 0.5][
    "movie_box_office_revenue"
]

In [ ]:
# independent t-test
stats.ttest_ind(majority_male_revenue, majority_female_revenue)

#### Comment
- After trying to isolate the impact on the revenue, we still observe a significant correlation. The correlation is increased when we look at `frac_females` instead of `num_females,` but still weak.

---
### Difference in revenue between the movies with majority of male and female actors

In [ ]:
# calculate the statistical power

# creating list to store the p-values
p_val = np.zeros(10000)

# running the simulation 10000 times
for i in range(10000):

    # sample over_50 and under_50
    sample_majority_male = np.random.choice(
        majority_male_revenue, size=majority_male_revenue.shape[0]
    )
    sample_majority_female = np.random.choice(
        majority_female_revenue, size=majority_female_revenue.shape[0]
    )

    # independent t-test
    p_val[i] = stats.ttest_ind(sample_majority_male, sample_majority_female)[1]

# calculating the percentage of rejects
power = len(p_val[p_val < 0.05]) / len(p_val)

# printing the results
print(
    f"""
The statistical power of:
    - The independent sample t-test comparing the revenue of movies with majority of male and majority of female 
      actors: {power}
"""
)

In [ ]:
# calculating the mean difference
mean_diff_gender = majority_male_revenue.mean() - majority_female_revenue.mean()

# performing bootstrap to get the 95% CI
gender_CI = bootstrap_CI(majority_male_revenue, majority_female_revenue)

# printing the results
print(
    f"""
The mean difference between in revenue between diverse and less diverse movies:
    - Mean:                       {mean_diff_gender}
    - CI:                         {gender_CI}
"""
)

In [ ]:
# calculating the average revenue for under_50
mean_majority_female = majority_female_revenue.mean()

# calculating the percentage difference in revenue
diff_percent = mean_diff_gender / mean_majority_female

# printing the results
diff_percent

#### Comment
- The independent t-test gives us a small p-value (<< 0.05), which indicates a statistically significant difference between the samples with the majority of male actors (fraction of females ≤ 0.5) and the samples with the majority of female actors (fraction of females > 50). The statistical power of 0.9596 makes us confident in this result.
- Further, the mean difference tells us that the movies with the majority of male actors generally have a higher movie box office revenue. The confidence interval makes us confident in this result. 
- By dividing the average difference by the average revenue for movies with the majority of female actors, we get that movies with the majority of male actors, on average, have a ~42.5% higher movie box office revenue. This shows that the gender-composition is impactful on the movie box office revenue.

# Cast
- 'Cast' section intends to investigate the casts of the CMU Movie Summary Corpus dataset.
- The notebook will do some initial analyses to see how individual movie actors affects the box office revenue. The aim of the analysis is to get an idea of relevant methods we could use, and understand how we can handle the data and data size.

---
**Summary**

- If we include all actors in a linear regression model, we exceed the maximum recursion depth running the model. In addition to this, we get multicollinearity problems if we do not restrict the amount of actors in our regression model. 
- By using all actors that have played in more than 10 movies as categorical predictors, our model explains 59% of the variance in box office revenue, with an adjusted R-squared equal to 50%. Using actors that have played in more than 15 movies as predictors explains 32% of the variance in box office revenue, with an adjusted R-squared equal to 27%.
- Among the actors (as predictors) with p-value < 0.05, Alan Rickman (Professor Severus Snape) received the highest coefficient in our linear regression model. PS: This is only initial analysis and we will explain why the result cannot be trusted yet. Spoiler alert: Confounders.

---
## Data Processing

---
### Loading data

In [163]:
# load data
movies = pd.read_csv(MOVIE_PATH, sep="\t", names=colnames_movies, header=None)
characters = pd.read_csv(
    CHARACTER_PATH, sep="\t", names=colnames_character, header=None
)

---
### Null Values

In [129]:
movies.isna().sum()

wikipedia_movie_ID              0
freebase_movie_ID               0
movie_name                      0
movie_release_date           6902
movie_box_office_revenue    73340
movie_runtime               20450
movie_languages                 0
movie_countries                 0
movie_genres                    0
dtype: int64

In [130]:
characters.isna().sum()

wikipedia_movie_ID                      0
freebase_movie_ID                       0
last_update                          9995
character_name                     257875
actor_DOB                          106145
actor_gender                        45609
actor_height                       295845
actor_ethnicity                    344611
actor_name                           1228
actor_age_at_movie_release         158113
freebase_character/actor_map_ID         0
freebase_character_ID              257865
freebase_actor_ID                     815
dtype: int64

#### Comment
Both box office revenue and freebase actor ID contain some Null values we want to remove before exploring the cast's effect on revenue made.

In [131]:
# Removing characters/actors without freebase_actor_id
characters = characters[characters['freebase_actor_ID'].notna()]

# Removing movies without box_office_revenue
movies = movies[movies['movie_box_office_revenue'].notna()]

---
### Filtering and merging

In [132]:
# Removing movies from before 2000
movies = movies[movies['movie_release_date'] >= '2000']

In [133]:
# Merging movies with characters on wiki_id. 
movies_characters = pd.merge(left=movies, right=characters, 
                             on=['wikipedia_movie_ID', 'freebase_movie_ID'])

In [134]:
movie_count = movies_characters.shape[0]
unique_combos = movies_characters.value_counts(subset=['wikipedia_movie_ID', 'freebase_actor_ID'], dropna=False).shape[0]

print(
    """
    Total number of movies (with duplicates) in our merged dataset: {}
    Unique number of combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID': {}
    """.format(movie_count, unique_combos))

    Total number of movies (with duplicates) in our merged dataset: 49799
    Unique number of combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID': 49281

#### Comment
Some actors are listed mulitple times because they play different characters in the same movie. We only want unique combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID'.

In [135]:
# We filter out duplicated combinations of 'wikipedia_movie_ID' and 'freebase_actor_ID'. 
# For now, we do not care which row/character we keep
movies_characters = movies_characters.drop_duplicates(subset=['wikipedia_movie_ID', 'freebase_actor_ID'], keep='first')
movies_characters.shape

(49281, 20)

---
### Understanding the Cast

In [136]:
# Number of unique movies
num_movies = movies_characters["wikipedia_movie_ID"].nunique()
print('Number of unique movies: {}'.format(num_movies))

Number of unique movies: 3585

In [137]:
# Number of unique actors in dataset
num_actors_unique = movies_characters["freebase_actor_ID"].nunique()
print('Number of unique actors: {}'.format(num_actors_unique))

Number of unique actors: 22934

In [138]:
# Checking number of actors in dataset, counting actors multiple times if they play
# in multiple movies
count_actors = movies_characters["freebase_actor_ID"].count()
print("Number of rows containing freebase actor ID: {}".format(count_actors))

Number of rows containing freebase actor ID: 49281

In [139]:
# Number of actors on average per movie
ratio = count_actors / num_movies
print('Number of actors on average per movie: {}'.format(ratio))

Number of actors on average per movie: 13.746443514644351

---
### One Hot Encoding of Actors

In [165]:
# One Hot Encoding of Actors
movies_characters_dummy = pd.get_dummies(data=movies_characters, columns=['freebase_actor_ID'])
movies_characters_dummy.shape

(49281, 22953)

In [166]:
# Only include wikipedia movie ID and one hot encoding of actors in dataframe
dummy_actor_columns = movies_characters_dummy.filter(regex='wikipedia_movie_ID|freebase_actor_ID_')

In [167]:
# We want to try different thresholds for how many actors we include.
# Exploring actors that have played in more than 10 and 15 movies. 
dummy_actor_columns15 = dummy_actor_columns.loc[:, dummy_actor_columns.sum(axis=0) > 15]
dummy_actor_columns10 = dummy_actor_columns.loc[:, dummy_actor_columns.sum(axis=0) > 10]
print('Number of actors that have played in more than 10 movies: {}'.format(dummy_actor_columns10.shape[1]-1))
print('Number of actors that have played in more than 15 movies: {}'.format(dummy_actor_columns15.shape[1]-1))

Number of actors that have played in more than 10 movies: 647
Number of actors that have played in more than 15 movies: 247

#### Comment
By only including actors that have played in more than 15 movies, we reduce the dataframe size from . Reducing the threshold further to 15, we reduce the dataframe size from 22953 columns to 247 columns. This makes the linear regression possible without exceeding the maximum recursion depth. There might be actors excluded who actually have a big impact on revenue made, but for now, we want to explore the actors that have played in more than 16 movies.

In [168]:
# Grouping movies such that every movie correspond to only one row in the dataframe
dummy_actor_columns10 = dummy_actor_columns10.groupby('wikipedia_movie_ID').agg('sum')
dummy_actor_columns15 = dummy_actor_columns15.groupby('wikipedia_movie_ID').agg('sum')

# Merging dummy actor columns with the movies
movies_binary_actors10 = pd.merge(movies, dummy_actor_columns10, left_on='wikipedia_movie_ID', right_index=True)
movies_binary_actors15 = pd.merge(movies, dummy_actor_columns15, left_on='wikipedia_movie_ID', right_index=True)
movies_binary_actors10.head(1)

,wikipedia_movie_ID,freebase_movie_ID,movie_name,movie_release_date,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,freebase_actor_ID_/m/011zd3,...,freebase_actor_ID_/m/0p_pd,freebase_actor_ID_/m/0pmhf,freebase_actor_ID_/m/0prfz,freebase_actor_ID_/m/0pz91,freebase_actor_ID_/m/0q9kd,freebase_actor_ID_/m/0sw6g,freebase_actor_ID_/m/0sz28,freebase_actor_ID_/m/0ywqc,freebase_actor_ID_/m/0z4s,freebase_actor_ID_/m/0zcbl
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",0,...,0,0,0,0,0,0,0,0,0,0

In [169]:
# Correcting box office revenue for inflation
movies_binary_actors10 = correct_for_inflation(movies_binary_actors10, 'movie_box_office_revenue')
movies_binary_actors15 = correct_for_inflation(movies_binary_actors15, 'movie_box_office_revenue')
movies_binary_actors10.head(1)

,wikipedia_movie_ID,freebase_movie_ID,movie_name,movie_release_date,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,freebase_actor_ID_/m/011zd3,...,freebase_actor_ID_/m/0p_pd,freebase_actor_ID_/m/0pmhf,freebase_actor_ID_/m/0prfz,freebase_actor_ID_/m/0pz91,freebase_actor_ID_/m/0q9kd,freebase_actor_ID_/m/0sw6g,freebase_actor_ID_/m/0sz28,freebase_actor_ID_/m/0ywqc,freebase_actor_ID_/m/0z4s,freebase_actor_ID_/m/0zcbl
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,1.362575e+07,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",0,...,0,0,0,0,0,0,0,0,0,0

---
### Exploring method: Linear Regression

In [170]:
# Removing slashes in column names to avoid error in regression. 
movies_binary_actors10.columns = movies_binary_actors10.columns.str.replace('/', '')
dummy_actor_columns10.columns = dummy_actor_columns10.columns.str.replace('/', '')

movies_binary_actors15.columns = movies_binary_actors15.columns.str.replace('/', '')
dummy_actor_columns15.columns = dummy_actor_columns15.columns.str.replace('/', '')

In [152]:
# Constructing formula used for regression
# For now we only include actors as categorical predictors
# We have two scenarios:
# 1) All actors that have played in more than 10 movies
# 2) All actors that have played in more than 15 movies
formula10 = 'movie_box_office_revenue ~ '
for col in dummy_actor_columns10.columns:
    formula10 += 'C(' + col + ')+'
    
formula15 = 'movie_box_office_revenue ~ '
for col in dummy_actor_columns15.columns:
    formula15 += 'C(' + col + ')+'
    
formula10 = formula10[:-1] 
formula15 = formula15[:-1]

In [153]:
# Linear regression
mod10 = smf.ols(formula=formula10, data=movies_binary_actors10)
res10 = mod10.fit()
res_summary10 = res10.summary()

mod15 = smf.ols(formula=formula15, data=movies_binary_actors15)
res15 = mod15.fit()
res_summary15 = res15.summary()

In [154]:
print("Our model with actors that played in more than 10 movies gets R-squared = {:.2f}".format(res10.rsquared))
print("The corresponding adjusted R-squared is: {:.2f}\n".format(res10.rsquared_adj))

print("Our model with actors that played in more than 15 movies gets R-squared = {:.2f}".format(res15.rsquared))
print("The corresponding adjusted R-squared is: {:.2f}".format(res15.rsquared_adj))

Our model with actors that played in more than 10 movies gets R-squared = 0.59
The corresponding adjusted R-squared is: 0.50

Our model with actors that played in more than 15 movies gets R-squared = 0.32
The corresponding adjusted R-squared is: 0.27

#### Comment: 
Our model with actors that have played in more than 15 movies explains 30% of the variance in  box office revenue. However, we have many variables included (actors), which could make our model look more accurate even if there are many actors poorly contributing in some way. The adjusted R-squared score (51%) may be telling us that some variables (actors) are not contributing to our model’s R-squared properly. 

When we only include actors that have played in more than 15 movies, we get a lower R-squared, but there will also be less multicollinearity problems. 

For now we have only used actors as predictors, so there are likely to be confounders. Confounders could be budget, genre, release_date and more. However, the large R-squared tells us that we should continue exploring how actors and cast affect the box office revenue.

In [160]:
# Turning result summary into a dataframe 
# (actors that have played in more than 15 movies)
res_as_html = res_summary15.tables[1].as_html()
summary_df = pd.read_html(res_as_html, header=0, index_col=0)[0]

In [161]:
# Only including actors with p-value < 0.05.
# Statistically significant actors
summary_df = summary_df[summary_df['P>|t|'] < 0.05]

# Sorting the dataframe in descending order according to coefficient
summary_df.sort_values(by='coef', ascending=False, inplace=True)

# The top 3 actors with highest coefficient
summary_df.head(3)

,coef,std err,t,P>|t|,[0.025,0.975]
C(freebase_actor_ID_m09y20)[T.1],209500000.0,29500000.0,7.099,0.0,152000000.0,267000000.0
C(freebase_actor_ID_m01f6zc)[T.1],190900000.0,30500000.0,6.255,0.0,131000000.0,251000000.0
C(freebase_actor_ID_m05qg6g)[T.1],170300000.0,26600000.0,6.416,0.0,118000000.0,222000000.0

In [162]:
# Checking the number 1 actor we received from our 
# initial analysis (by only considering actors as predictor)

movies_characters[movies_characters['freebase_actor_ID']=='/m/09y20'].sort_values(by='movie_box_office_revenue', ascending=False).head(3)

,wikipedia_movie_ID,freebase_movie_ID,movie_name,movie_release_date,movie_box_office_revenue,movie_runtime,movie_languages,movie_countries,movie_genres,last_update,character_name,actor_DOB,actor_gender,actor_height,actor_ethnicity,actor_name,actor_age_at_movie_release,freebase_character/actor_map_ID,freebase_character_ID,freebase_actor_ID
18865,31941988,/m/0gvsynb,Harry Potter and the Deathly Hallows – Part 2,2011-07-07,1.328111e+09,130.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/07s9rl0"": ""Drama"", ""/m/02n4kr"": ""Mystery""...",2011-07-07,Professor Severus Snape,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,65.0,/m/09lybcv,/m/0c2l5,/m/09y20
5918,14482638,/m/04jpg2p,Alice in Wonderland,2010-03-05,1.024300e+09,108.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/01zhp"": ""Computer Animation"", ""/m/0hqxf"":...",2010-03-05,Caterpillar,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,64.0,/m/04zcxdl,/m/04xlmy,/m/09y20
43430,667361,/m/03176f,Harry Potter and the Philosopher's Stone,2001-11-16,9.747554e+08,153.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/0hj3n2k"": ""Fantasy Adventure"", ""/m/03k9fj...",2001-11-16,Professor Severus Snape,1946-02-21,M,1.854,/m/0d7wh,Alan Rickman,55.0,/m/02_752k,/m/0c2l5,/m/09y20

#### Comment
We cannot be sure whether Alan Rickman aka Professor Severus Snape has the highest effect on box office revenue. However, Alan Rickman has performed  in several movies with extremely high box office revenue, so the result is an indication that our choice of method could be further explored to gain insight into what actors affect box office revenue the most. The most urgent improvement of the model is to include more predictors (both categorical and continous) to avoid confounders.

![snape](img/snape.jpeg)